.scrollBar {
    height: 480px;
    overflow: auto;
}

.container {
    width: 600px;
}

.item {
    display: flex;
    align-items: center;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}