@import url('./assets/normalize.css');

:root {
	background-color: #131316;
}

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

button {
	border: none;
	background: inherit;
	padding: 0;
	cursor: pointer;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



